{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/overrides.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Alethea</a>
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'ipam:index' %}">IP Address Management</a>
                </li>
            </ul>
        </nav>

        <div class="container" id="body-container">
            <h1>{% block title %}PAGE TITLE NOT SET{% endblock %}</h1>

            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="alert alert-success"><strong>Success!</strong> {{ message }}</div>
                {% endif %}
                {% if message.tags == "error" %}
                        <div class="alert alert-danger"><strong>Error!</strong> {{ message }}</div>
                {% endif %}
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    </body>
</html>